body {
    background-color: #001427;
}

/* navbar */

.topHeader {
    background-color: #8D0801;
    padding-top: 40px;
}

.bottomHeader {
    background-color: #8D0801;
    color: white;
    width: 100%;
}

.HeaderLinks {
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.headerMargins {
    margin-left: 630px;
}

.headerImage {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    width: 306px;
    height: 272px;
    height: 400px;
    width: 400px;
}

.headerTitle {
    position: absolute;
    left: 400px;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    color: #F4D58D;
}

.headerChineseText {
    position: absolute;
    left: 1190px;
    height: 71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    color: #F4D58D;
}

.spacer {
    margin-top: 50px;
}

/*------ MEDIUM --------------------------------------------------*/

.headerImageMedium {
    z-index: 1;
    position: absolute;
    width: 272px;
    height: 272px;
}

.topHeaderMedium {
    background-color: #8D0801;
}

.headerTitleMedium {
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: flex;
    justify-content: end;
    color: #F4D58D;
    margin-right: 20px;
}

.HeaderLinksMedium {
    color: white;
    font-size: 20px;
    margin: 7px;
    font-family: 'Inter', sans-serif;;
}

/*------ SMALL --------------------------------------------------*/

.topHeaderSmall {
    background-color: #8D0801;
}

.headerTitleSmall {
    text-align: center;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #F4D58D;
    line-height: 0px;
    padding-top: 20px;
}

.headerChineseTextSmall {
    position: absolute;
    left: 157px;
    text-align: end;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #F4D58D;
    line-height: 50px;
}

.yellow {
    color: #F4D58D;
}

.headerImageSmall {
    z-index: 1;
    position: absolute;
    top: 25px;
    width: 272px;
    height: 272px;
    height: 160px;
    width: 160px;
}

/* containers */

.byoContainerTop {
    --bs-gutter-x: 0;
    display: flex;
    justify-content: center;
}

.byoContainerBottom {
    display: flex;
    justify-content: center;
    max-width: 48rem;
}

.footerContainer {
    max-width: 50rem;
}

.menuContainer {
    text-align: center;
}

/* check list */

.checkList {
    color: #F4D58D;
    margin-top: 8rem;
    font-family: 'Baskervville', serif;
    font-style: italic;
}

.checkListInfo {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-family: 'Inter', sans-serif;;
}

.logoImg {
    max-height: 12rem;
    padding-top: 0.5rem;
    float: right;
}

/* menu */

.menuImg {
    max-width: 68rem;
    max-height: 52rem;
    padding-top: 4rem;
}

.menuImgMobile {
    display: none;
}

@media only screen and (max-width: 769px) {
    .menuImg {
        width: 40rem;
    }
}

@media only screen and (max-width: 426px) {
    .menuImgMobile {
        display: block;
        width: 20rem;
        padding-bottom: 1rem;
    }

    .menuImg {
        display: none;
    }
}

/* disclaimer */

.disclaimerText {
    color: white;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-align: left;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;;
}

.imgDiv {
    justify-self: flex-end;
}

/* footer */

.danFooter {
    color: white;
    width: 100%;
    height: 149px;
    background: #8D0801;
}

.coin {
    height: 100px;
    margin-top: 20px;
}

.footerContentText {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 3px;
    margin-top: 30px; 
}

.footerContentOtherText {
    margin-top: 30px;
    line-height: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footerContentTextSmall {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 3px;
    margin-top: 30px; 
}

.footerContentOtherTextSmall {
    text-align: end;
    margin-top: 30px;
    line-height: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.coinSmall {
    height: 70px;
    margin-top: 10px;
}