body {
    background-color: #001427;
}

/* navbar */

.navbar {
    background-color: #8D0801;
    height: 9rem;
}

.title {
    color: #F4D58D;
}

.navLink {
    color: white;
}

.ellipseImg {
    position: relative;
    top: 4.5rem;
    max-height: 17rem;
    max-width: 19rem;
}

.foodImg {
    max-height: 28rem;
}


   