body {
    background-color: #001427;
}

/* navbar */
.fullContainer {
    --bs-gutter-x: 0;
    text-align:  center;
}

.navbar {
    background-color: #8D0801;
    height: 9rem;
}

.title {
    color: #F4D58D;
}

.navLink {
    color: white;
}

.ellipseImg {
    position: relative;
    top: 4.5rem;
    max-height: 17rem;
    max-width: 19rem;
}

.foodImg {
    max-height: 28rem;
}

.headerChineseText {
    min-width: 12.5rem;
    max-height: 4rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 4.8rem;
    margin-left: 1.25rem;
    color: #F4D58D;
}

.bottomHeader {
    position: absolute;
    top: 105px;
    background-color: #8D0801;
    color: white;
    border: 2px;
    width: 100%;
}

/* .topHeader {
    background-color: #8D0801;
    padding-top: 2.5rem;
}

.bottomHeader {
    position: absolute;
    top: 6.5rem;
    background-color: #8D0801;
    color: white;
    border: 0.1rem;
    width: 100%;
}


.headerLinks {
    color: white;
    font-size: 20px;
}

.headerMargins {
    margin-left: 630px;

}

.headerImage {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    width: 306px;
    height: 272px;
    left: 55px;
    top: 50px;
    scale: 1.4;
}



.headerTitle {
    width: 776px;
    height: 72px;
    left: 361px;
    top: 32px;
    margin-left: 390px;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;
    display: flex;
    justify-content: end;
    color: #F4D58D;

}

.headerChineseText {
    width: 200px;
    height: 71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 77px;
    margin-left: 20px;
    color: #F4D58D;
} */

/* check list */

.check {
    font-weight: bolder;
}

.checkList {
    text-align: center;
    color: #F4D58D;
    margin-top: 8rem;
}

.checkListInfo {
    color: white;
    text-align: left;
}

.logoImg {
    max-width: 12rem;
    max-height: 12rem;
}


/* menu */

.menuImg {
    max-width: 68rem;
    max-height: 52rem;
    padding-top: 4rem;
}

/* disclaimer */

.disclaimerText {
    color: white;
    padding-top: 5rem;
}