.homeBody {
    background-color: #001427;
}


/*----------------------------------------------------------------
------ HEADER START ---------------------------------------------- 
----------------------------------------------------------------*/
.topHeader {
    background-color: #8D0801;
    padding-top: 40px;
}

.bottomHeader {
    /* position: absolute; */

    background-color: #8D0801;
    color: white;

    width: 100%;

    ;

}

.HeaderLinks {
    color: white;
    font-size: 20px;
}

.headerMargins {
    margin-left: 630px;
}

.headerImage {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    width: 306px;
    height: 272px;
    height: 400px;
    width: 400px;
}

.headerTitle {
    /* width: 776px; */

    position: absolute;

    left: 400px;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;


    color: #F4D58D;
}

.headerChineseText {
    position: absolute;
    left: 1190px;
    height: 71px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;


    color: #F4D58D;
}

.spacer {
    margin-top: 50px;
}

/*------ MEDIUM --------------------------------------------------*/

.headerImageMedium {
    z-index: 1;
    position: absolute;
    width: 272px;
    height: 272px;
}

.topHeaderMedium {
    background-color: #8D0801;
}

.headerTitleMedium {

    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;

    display: flex;
    justify-content: end;
    color: #F4D58D;
    margin-right: 20px;
}


.HeaderLinksMedium {
    color: white;
    font-size: 20px;
    margin: 7px;

}

/*------ SMALL --------------------------------------------------*/

.topHeaderSmall {
    background-color: #8D0801;


}

.headerTitleSmall {
    text-align: center;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #F4D58D;
    line-height: 0px;
    padding-top: 20px;

}

.headerChineseTextSmall {
    position: absolute;
    left: 157px;
    text-align: end;
    font-family: 'Alike';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #F4D58D;
    line-height: 50px;

}

.yellow {
    color: #F4D58D;
}

.headerImageSmall {
    z-index: 1;
    position: absolute;
    top: 25px;
    width: 272px;
    height: 272px;
    height: 160px;
    width: 160px;
}






/*----------------------------------------------------------------
------ HEADER END ------------------------------------------------ 
----------------------------------------------------------------*/






/*----------------------------------------------------------------
------ FOOTER START ---------------------------------------------- 
----------------------------------------------------------------*/
.danFooter {
    color: white;
    /* position: relative; */
    width: 100%;
    height: 149px;


    background: #8D0801;
}

.coin {

    height: 100px;
    margin-top: 20px;
}

.footerContentText {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 3px;
    margin-top: 30px;
}

.footerContentOtherText {
    margin-top: 30px;
    line-height: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.footerContentTextSmall {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 3px;
    margin-top: 30px;
}

.footerContentOtherTextSmall {
    text-align: end;
    margin-top: 30px;
    line-height: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.coinSmall {

    height: 70px;
    margin-top: 10px;
}

/*----------------------------------------------------------------
------ FOOTER END ------------------------------------------------ 
----------------------------------------------------------------*/


/*----------------------------------------------------------------
------ Home Content START ---------------------------------------- 
----------------------------------------------------------------*/

/* ---- LARGE ------------------------------------------------- */
.homeLargeContent {
    height: 1000px;
    padding-bottom: 1400px;
}

.homeHeroImage {
    position: relative;
    width: 100%;
    height: 500px;
}

.HomeMainImage {
    height: 700px;

}

.HomeContentText {
    color: white;
    width: 500px;
    font-size: 24px;
}

.hoursText {
    margin-top: 10px;
    line-height: 11px;
}

.noticeText {
    line-height: 24px;
    margin-top: 25px;
}

.location {
    line-height: 11px;
}

.paymentText {
    line-height: 11px;
}

.homeHeader {
    color: #F4D58D;
    margin-top: 30px;
}

.noticeHeader {
    color: #8D0801;
    font-weight: 800;
    font-size: 58px;
    line-height: 20px;
}

.welcomeText {
    color: white;
    text-align: center;
    font-size: 64px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.riceBowlHome {
    position: absolute;
    left: 1125px;
}

.buddahImage {
    position: absolute;
    left: 830px;
    height: 400px;
}

/* ---- MEDIUM ------------------------------------------------- */
.homeHeroImageMedium {
    position: relative;
    width: 100%;
    height: 350px;
}

.HomeMainImageMedium {
    height: 400px;

}

.welcomeTextMedium {
    color: white;
    text-align: center;
    font-size: 52px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.HomeContentTextMedium {
    color: white;
    width: 250px;
    font-size: 12px;
}

.noticeHeaderMedium {
    color: #8D0801;
    font-weight: 800;
    font-size: 28px;
    line-height: 10px;
}

.hoursTextMedium {
    margin-top: 11px;
    line-height: 1px;
}

.noticeTextMedium {
    line-height: 15px;
    margin-top: 20px;
}

.locationMedium {
    margin-top: 11px;
    line-height: 1px;
}

.paymentTextMedium {
    margin-top: 11px;
    line-height: 1px;
}

.homeHeaderMedium {
    color: #F4D58D;
    font-size: 20px;
    margin-top: 10px;
}

.riceBowlHomeMedium {
    position: absolute;
    left: 580px;
    height: 150px;
}

.buddahImageMedium {
    position: absolute;
    left: 500px;
    height: 150px;
}

.homeMediumContent {
    padding-bottom: 180px;
}
/* ---- MEDIUM ------------------------------------------------- */
.homeHeroImageSmall {
    
    width: 100%;
    height: 220px;
}
.homeSmallContent {
    padding-bottom: 220px;
}
.riceBowlHomeSmall {
    position: absolute;
    left: 280px;
    height: 100px;
    top: 330px;
}
.HomeContentTextSmall {
    margin-left: 60px;
    color: white;
    width: 260px;
    font-size: 12px;
}
.buddahImageSmall {
    position: absolute;
    left: 85px;
    height: 200px;
}
.welcomeTextSmall {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 40px;
}