body {
    background-color: rgb(0, 20, 39);
}
p {
    color: white;
    font-family: 'Inter';
    font-style: normal;
}
.gHText {
    color: rgb(244, 213, 141);
}
darkHText {
    color: rgb(0, 20, 39);
}
redHText {
    color: rgb(191, 6, 3);
}
.pageName {
    font-family: 'Baskervville';
    font-style: italic;
    font-size: 60px;
    color: rgb(244, 213, 141);
}
.pageSubText {
    font-size: 30px;
}
.titleText {
    font-family: 'Alike', serif;
    font-size: 50px;
    color: rgb(244, 213, 141);
}
.pageTextAlign{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageNameMargin {
    margin-top: 20px;
}
.imgSize {
    width: 472px;
    height: 457px;
}