.topHeader {
    background-color:#8D0801;
    padding-top: 40px;

  
  
    
}
.bottomHeader {
    position: absolute;
    top: 105px;
    background-color:#8D0801;
    color: white;
    border: 2px;
    width: 100%;
}


.HeaderLinks {
    color: white;
    font-size: 20px;
}

.headerMargins{
    margin-left: 630px;
    
}

.headerImage {
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    width: 306px;
    height: 272px;
    left: 55px;
    top: 50px;
    scale: 1.4;
}



.headerTitle{
width: 776px;
height: 72px;
left: 361px;
top: 32px;
margin-left: 390px;
font-family: 'Alike';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 63px;
display: flex;
justify-content: end;
color: #F4D58D;
   
}

.headerChineseText{

width: 200px;
height: 71px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 77px;

margin-left: 20px;
color: #F4D58D;
}